GeneratedAndroidAppPWA/signing.keystore
GeneratedAndroidAppPWA/assetlinks.json
GeneratedAndroidAppPWA/Scan Code Sync.apk
GeneratedAndroidAppPWA/Scan Code Sync.aab
GeneratedAndroidAppPWA/signing-key-info.txt
wix314-binaries
ssh_password.txt
project.tar.gz
ScanCodeSync.dmg
.flatpak-builder
ScanCodeSyncDesktop/ScanCodeSync.flatpak
ScanCodeSyncDesktop/__pycache__/build_linux.cpython-314.pyc
msix_staging
/profiles
ScanCodeSyncDesktop/debug_data
