GeneratedAndroidAppPWA/signing.keystore
GeneratedAndroidAppPWA/assetlinks.json
GeneratedAndroidAppPWA/Scan Code Sync.apk
GeneratedAndroidAppPWA/Scan Code Sync.aab
GeneratedAndroidAppPWA/signing-key-info.txt
